In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_csv('IMDb Movies India.csv',encoding='latin1')
df.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),-2019.0,109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,-2021.0,90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,-2019.0,110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,-2010.0,105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [40]:
df.shape

(15509, 10)

In [41]:
df.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [42]:
df=df.dropna()
df.shape

(5659, 10)

In [43]:
df['Votes'] = df['Votes'].str.replace(',','').astype(int)

In [44]:
df['Year'] = df['Year'].astype(str)
df['Year'] = df['Year'].str.extract('(\d+)')
df['Year'] = pd.to_numeric(df['Year'], errors='coerce')

In [45]:
df['Duration'] = df['Duration'].str.extract('(\d+)')
df['Duration'] = pd.to_numeric(df['Duration'], errors='coerce')

In [46]:
df.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,#Gadhvi (He thought he was Gandhi),2019,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
3,#Yaaram,2019,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
5,...Aur Pyaar Ho Gaya,1997,147,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
6,...Yahaan,2005,142,"Drama, Romance, War",7.4,1086,Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Yashpal Sharma
8,?: A Question Mark,2012,82,"Horror, Mystery, Thriller",5.6,326,Allyson Patel,Yash Dave,Muntazir Ahmad,Kiran Bhatia

In [47]:
df=df.drop(['Name'],axis=1)

In [49]:
df.dtypes

Year          int64
Duration      int64
Genre        object
Rating      float64
Votes         int32
Director     object
Actor 1      object
Actor 2      object
Actor 3      object
dtype: object

In [50]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

df['Genre']=le.fit_transform(df['Genre'])
df['Actor 1']=le.fit_transform(df['Actor 1'])
df['Actor 2']=le.fit_transform(df['Actor 2'])
df['Actor 3']=le.fit_transform(df['Actor 3'])
df['Director']=le.fit_transform(df['Director'])

In [51]:
#Everything is now encoded
df.head()

   Year  Duration  Genre  Rating  Votes  Director  Actor 1  Actor 2  Actor 3
1  2019       109    229     7.0      8       629     1352     2272      319
3  2019       110    184     4.4     35      1335     1198      719     2148
5  1997       147    157     4.7    827      1530      378       75     2045
6  2005       142    289     7.4   1086      2044      692     1112     2524
8  2012        82    320     5.6    326       135     1934     1175     1013

In [52]:
from sklearn.model_selection import train_test_split

x=df.drop(['Rating'],axis=1)
y=df['Rating']

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.35,random_state=42)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((3678, 8), (1981, 8), (3678,), (1981,))

In [58]:
from sklearn.linear_model import LinearRegression

lr=LinearRegression()

lr.fit(x_train, y_train)
y_pred=lr.predict(x_test)
y_pred

array([5.64594106, 5.84235368, 5.93425407, ..., 5.93749066, 5.65559052,
       5.6323939 ])

In [61]:
from sklearn.metrics import accuracy_score

mse=np.mean((y_test-y_pred)**2)
mse

1.6482016695308066

In [62]:
rmse=np.sqrt(mse)
rmse

1.2838230678449452

In [63]:
mean_true = np.mean(y_test)
ss_tot = np.sum((y_test - mean_true)**2)
ss_res = np.sum((y_test - y_pred)**2)
r2 = 1 - ss_res / ss_tot
r2

0.09022358067174108